<div class="col">
    <div class="row">Add Item Area</div>
    <div class="row">Current Basket</div>
    <div class="row">Total and Checkout</div>
</div>
{{!-- Content --}}
<div class="mt-4 container-fluid">

  {{!-- Header/Title --}}
  <div class="row">
    <div class="col">
        <h1 class="display-4 text-left">Transactions</h1>
        <p class="text-left">Add Item Area.</p>
        <p class="text-left">Inactive items appears in<span class="text-secondary"> gray</span>.</p>
        <p class="text-left">Users can click on the row to adjust shelf and warehouse thresholds.</p>
    </div>
  </div>

  <div class="row">
      
      <div id='gt_available_products_on_shelf_window' class="col-4 p-2">
        <h5 class="text-center">Available Products</h5>
        <div id='gt_available_products_list_group' class="list-group">

        </div>
      </div>
      <div id='gt_products_in_basket_window' class="col-8 p-4">
          <h5 class="text-center">Checkout Basket</h5>
          <table id='gt_products_in_basket_table' class="table table-striped">
              <thead>
                  <th scope="col">Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Total</th>
              </thead>
              <tbody>
              </tbody>
          </table>
        <div class="row">
            <div class="col-6">
                <h5 class="text-right">Subtotal:</h3>
                <h5 class="text-right">Total Number of Items:</h3>
                <h5 class="text-right">Total Tax:</h3>
                <h3 class="text-right">Grand Total:</h3>
            </div>
            <div class="col-6" id='gt_products_totals_area'>
                <h5><span id="gt_subtotal"></span></h3>
                <h5><span id="gt_n_items"></span></h3>
                <h5><span id="gt_total_tax"></span></h3>
                <h3><span id="gt_grand_total"></span></h3>
            </div>
        </div>
      </div>
  </div>
</div>

<script type="text/javascript" src='./scripts/transaction.js'></script>